:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  gap: 12px;
  width: 600px;
}

.field {
  width: 100%;
}

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 600px;
}

.output {
  width: 100%;
  background-color: #3b3b3b;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  max-height: 300px;
  min-height: 80px;
  overflow-y: auto;
}

.copy-button {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  padding: 4px;
}

.action-button {
  padding: 4px 10px;
}
